
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&display=swap');

/*
images in img file are test images - resize / reformat for web

content not scrolling - why? FIX THIS

remove hyperlink underline from H1 logo
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* READme link to image: https://www.etsy.com/uk/listing/1201286332/wooden-floor-photography-backdrop-white?gpla=1&gao=1&&utm_source=google&utm_medium=cpc&utm_campaign=shopping_uk_en_gb_b-paper_and_party_supplies-party_supplies-party_decor-backdrops_and_props&utm_custom1=_k_Cj0KCQjwj_ajBhCqARIsAA37s0y4hS9tp3WoEAbsDDnMnu3Scibqm5nmZ9J1BYANPos2CzMI5MHO2qUaAjBZEALw_wcB_k_&utm_content=go_12604682523_120630437220_508814476724_aud-463075091718:pla-316241129464_c__1201286332engb_500265943&utm_custom2=12604682523&gclid=Cj0KCQjwj_ajBhCqARIsAA37s0y4hS9tp3WoEAbsDDnMnu3Scibqm5nmZ9J1BYANPos2CzMI5MHO2qUaAjBZEALw_wcB */
.background {     /* make opaque*/

    /*height: 100%;
    width: 100%;*/
    background-color: white;
    background: url('../img/white_wall_copy.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /*overflow: hidden;*/
    /*filter: opacity(50%);*/
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #555;
}

/*
change H1 and H2 logo elements to JOSEFINA SANS UPPER CASE
*/

h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: #333;
    letter-spacing: 10px;
    text-align: center;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #555;
    letter-spacing: 10px;
    text-align: center;
}

/*
style h1 and h2 logo separately
*/

#logo_h1 {
    font-size: 300%;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    margin-top: 30px;
    line-height: 95%;
}

#logo_h2 {
    font-size: 200%;
    text-align: center;
    text-decoration: none;
}

a:link {
    text-decoration: none;
  }

#navigation {
    width: 100%;
    height: auto;
}

ul {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 auto;
}

#pages li {
    width: auto;
    display: inline;
    gap: 30%;
    border: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
}

/* IS THIS RULE OBSELETE?
.gallery {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 30px;
}
*/

#gallery_thumbs {
    text-align: center;
}

.thumb_container {
    margin: 5vw;
}

.thumb {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 1px solid #555;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

.print {
    background-image: url('../img/push_button.jpg');
}

.photo {
    background-image: url('../img/Teddy.png');
}

.other {
    background-image: url('../img/assemlage1_resized.jpg');
}

.thumb_p {
    text-align: center;
}
/*
.galleryname {
    text-align: center;
    margin: 0 auto;
}
*/
/*
.print_thumb {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
    background-image: url('../img/push_button.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 1px solid #555;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

.photo_thumb {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
    position: center;
    background-image: url('../img/Teddy.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 1px solid #555;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

.other_thumb {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
    position: center;
    background-image: url('../img/assemlage1_resized.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 1px solid #555;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

*/
/*
BELOW NEEDS TWEAKING
*/

.social-networks {
    text-align: center;
    position: relative;

}

.social-networks li {
    display: inline;

}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.copyright {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.div-link {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

/* Form */

.form-section {
    width: 300px;
    height: 350px;
    background-color: white;
    background-image: url('../img/frame_resized.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    
}

.signup-form {
    color: #333;
    max-width: 280px;
    max-height: 350px;
    text-align: center;
    margin: 0 auto;
    
}

.signup-form h2 {
    color: #333;
    font-family: La;
}

/* Gallery Styling */
img {
    width: 100%;
    border-radius: 1%;
  }
  
  .masonry {
      column-count: 4;
      column-gap: 16px;
      margin: 0 auto;
      width: 90%;
  }
  
  .masonry .mItem {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
  }
  
  @media (max-width: 1199px) {
    .masonry {
      column-count: 3;
    }
  }
  
  @media (max-width: 991px) {
    .masonry {
      column-count: 2;
    }
  }
  
  @media (max-width: 767px) {
    .masonry {
      column-count: 1;
    }
  }
  
  /*.paragraph {
    display: none; /* Hide paragraph on mobile */
  
  
  /* Media query for tablet and desktop */
  @media screen and (min-width: 768px) {
    .thumb_container {
      display: inline-block;
      width: 300px;
      height: 300px;
    }
    .thumb {
        width: 300px;
        height: 300px;
    }
}
  
    /*.paragraph {
      display: block; /* Show paragraph on tablet and desktop */
/*
COMMENTS
*/

/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'Lato', sans-serif;


Author identity unknown *** Please tell me who you are. Run git config --global user.email "patrickcoughlan@yahoo.co.uk" git config --global user.name "Patrick" to set your account's default identity. Omit --global to set the identity only in this repository. fatal: unable to auto-detect email address (got 'codeany@fe35ba626cea.(none)')
